body {
  background: url(https://static.vecteezy.com/system/resources/previews/000/153/503/original/vector-grunge-air-mail-background.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  
}

.button {
  background-color: white;
  color: black;
  border: 2px solid grey; 
}

.button:hover {
  background-color: grey;
  color: white;
}

header {
  margin-top: 25px;
  font-weight: bold;
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Courier New, monospace;
}

footer {
  color: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.username {
  margin: 5px;
  padding: 0px;
}

.password {
  margin: 5px;
  padding: 2px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 2vh;
  background: #e9d0af;
  padding: 10px;
  margin-bottom: 20px;
  /* color: white; 
  text-decoration: none; */
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: white;
  text-decoration: none; */

}

.Cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 15px;
  margin: 20px;
  /* border-style: dotted; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}